body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

header {
    background-color: #004aad;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.destaques ul {
    list-style-type: disc;
    padding-left: 20px;
}

.galeria img {
    margin: 10px;
    border-radius: 8px;
    width: 300px;
    height: auto;
}

footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 10px;
}
